.App {
  text-align: left;
}

.App-logo {
  position: relative;
  top: -310px;
  left: -80px;
  height: 25vmin;
  pointer-events: none;
}



.App-header {
  background-color: rgb(75, 76, 172);
  background-image: url('sklenka.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 26px;
  color: rgb(250, 207, 18);
  text-shadow: 1px 2px 1px rgb(143, 140, 140);
}

.App-logo {
  animation-name: App-logo-spin;
  animation-duration: 15s;
  animation-timing-function:linear;
  animation-iteration-count: 1;
   

}


@keyframes App-logo-spin {
  0% {
    transform: translate(0, 0);
  }
  30% {
    transform: translate(-25px, 90px);
  }
  50% {
    transform: translate(-20px, 200px);
  }
  70% {
    transform: translate(10px, 300px);
  }
  100% {
    transform: translate(0, 500px);
  }

}

.napis1 {
  position: relative;
  display: inline-block;
  color: #fff;
  animation: flip 18s;
  animation-iteration-count: 1;  
}
.napis2 {
  position: relative;
  display: inline-block;
  color: #fff;
  animation: flip 18s;
  animation-delay: 3s;
  animation-iteration-count: 1;  
}
.napis3 {
  position: relative;
  display: inline-block;
  color: #fff;
  animation: flip 18s;
  animation-delay: 6s;
  animation-iteration-count: 1;  
}
.napis4 {
  position: relative;
  display: inline-block;
  color: #fff;
  animation: flip 18s;
  animation-delay: 9s;
  animation-iteration-count: 1;  
}
.napis5 {
  position: relative;
  display: inline-block;
  color: #fff;
  animation: flip 18s;
  animation-delay: 12s;
  animation-iteration-count: 1;  
}
.napis6 {
  position: relative;
  display: inline-block;
  color: #fff;
  animation: flip 18s;
  animation-delay: 15s;
  animation-iteration-count: 1;  
}


@keyframes flip {
  0%,80% {
    transform: rotateY(360deg) 
  }
}